* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	justify-content: space-around;
}

.wrapper {
	width: 55%;
	height: 85%;
	background-color: #fff;
	padding: 15px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	font-family: "fantasy Impact", "Arial Narrow Bold", sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.rectangle {
	width: calc(100% / 3);
	height: 100%;
	border: 2px solid #000;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.one {
	animation-name: one;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes one {
	from {
		background-color: #ff0;
		color: #000;
	}
	to {
		background-color: #00f;
		color: #fff;
	}
}

.p2 {
	animation-name: two;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes two {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.three {
	background-color: #00f;
	align-items: flex-start;
	animation-name: three;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes three {
	0% {
		color: #fff;
		padding-top: 10%;
	}
	25% {
		color: #000;
		padding-top: 34%;
	}
	50% {
		color: #fff;
		padding-top: 58%;
	}
	75% {
		color: #000;
	}
	100% {
		color: #fff;
		padding-top: 10%;
	}
}
